//
// Variables
// --------------------------------------------------

// *********************************************************************************** //
// *************************** Non Bootstrap Vars ************************************ //
// *********************************************************************************** //

// Imported into the main bootstrap vars /less/bootstrap-3.3.4/less/variables.less

// ** Theme params ** //
@theme-name: "default";
@font-family: 'Lato' , sans-serif;
@secondary-font-family: 'Miriam Libre' , sans-serif;;

// ** Theme colours
@theme-main: #263238; // set - cyan / greeny blue
@theme-main-active: #3adab6; // set - cyan blue
@theme-secondary: #1f2b45; // set - dark blue (1e2945 - old theme-secondary)
@theme-primary: #1d4240; // set to Pink
@theme-white: #ffffff;
@theme-light-grey: #cccccc;
@theme-body-bg: #c5c5c5;
@theme-shadow-color: #37474F;
@pag-active-bgcolor: #00838F;
@anchor-hover-color: #00BFA5;
@anchor-color: #00BFA5;
@theme-grey: #808080;
@tag-border-color: #ff9800;
@theme-blue-color: blue;
@theme-green-color: green;
@theme-hash-tag-color: #f0dccd;
@theme-like-color: #ff5252;
@theme-grey-lightest: #efefef;
@spl-tag-color: #5e936a;
@spl-tag-border-color: #cae0cf;
@spl-tag-bgcolor: #ebebeb;
@theme-footer: #333333;


// ** Font sizes
@font-xxsmall: 11px;
@font-xsmall: 12px;
@font-small: 13px;
@font-medium: 14px;
@font-xmedium: 15px;
@font-large: 16px;
@font-xlarge: 18px;
@font-xxlarge: 20px;

// ** Font weights
@font-thin: 100;
@font-light: 300;
@font-regular: 400;
@font-medium: 500;
@font-bold: 700;
@font-extrabold: 800;

// ** Letter spacing
@letter-spacing: 0.05em;

// ** Z-indexes
@nav-top-zindex: 99;

// ** animations / transitions and opacities
@transition-speed-slow: 1s;
@transition-speed-mid: 0.6s;
@transition-speed: 0.3s;

// ** opacities
@transition-opacity: 0.70;
@overlay-opacity: 0.65;

// ** Graphics
@primary-graphics-width: 1250px;

// *** Import Non Bootstrap Vars *** //
@import "../libs/bootstrap-3.3.7/less/variables.less";